/*Page*/
 
* {
    overflow: hidden;
    box-sizing: border-box;
  }
   
body {
    background-color: #111111;
  }

.credits {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    color: aliceblue;
    font-size: 18px;
    padding: 0 10px 0 10px;
  }


.simplelink {
    text-decoration: underline;
    color: aliceblue;
  }

  
/*Scroll bar*/
 
/* Taille */
::-webkit-scrollbar {
    width: 10px;
}
   
/* Barre fond */
::-webkit-scrollbar-track {
    background: #00000000;
}
   
/* "Petit scroller" */
::-webkit-scrollbar-thumb {
    background: #353538;
}
   
/* "Petit scroller maintenue" */
::-webkit-scrollbar-thumb:hover {
    background: #969696;
}