/*Image Blur*/

.theme-normal {
  --blur-: blur(0);
}

.theme-blur {
  --blur-: blur(4px);
}

/*Background Settings*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  }
  
  img {
    width: 100%;
  }
  
  .slider-container{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; 
    text-align: center;
  }
  

  .menu {
    position: absolute;
    left: 0;
    z-index: 2;
    width: 100%;
    bottom: 0;
  }
  
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #ffffff49;
    border-radius: 50px;
    margin: 0 .2em 1em;
}
    .menu label:hover {
    background: #ffffff;
}
  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: var(--blur-);
    top: 0;
    left: 100%;
    z-index: 0;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
  }
  
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 1;
    transition: left .65s ease-out;
  }
  
  .slide-1 {
    background-image: url("wallpapers/1.jpg");
  }
  .slide-2 {
    background-image: url("wallpapers/2.jpg");
  }
  .slide-3 {
    background-image: url("wallpapers/3.jpg");
  }
  .slide-4 {
    background-image: url("wallpapers/4.jpg");
  }
  .slide-5 {
    background-image: url("wallpapers/5.jpg");
  }
  .slide-6 {
    background-image: url("wallpapers/6.jpg");
  }
  .slide-7 {
    background-image: url("wallpapers/7.jpg");
  }
  .slide-8 {
    background-image: url("wallpapers/8.jpg");
  }
  .slide-9 {
    background-image: url("wallpapers/9.jpg");
  }
  .slide-10 {
    background-image: url("wallpapers/10.jpg");
  }
  .slide-11 {
    background-image: url("wallpapers/11.jpg");
  }
  .slide-12 {
    background-image: url("wallpapers/12.jpg");
  }
  .slide-13 {
    background-image: url("wallpapers/13.jpg");
  }
  .slide-14 {
    background-image: url("wallpapers/14.jpg");
  }
  .slide-15 {
    background-image: url("wallpapers/15.jpg");
  }
